xrandr --output "$(xrandr | grep '\bconnected\b' | awk '{print $1}')" --mode 1920x1080 --rate 144 &

picom -b &
feh --no-fehbg --bg-scale ~/pics/wallpaper
setxkbmap colemak -option ctrl:swapcaps,altwin:menu_win

# xautolock -locker slock &

gammastep -m randr &
ntfy transmission &
herbimisu &
slstatus &
# upds &
eval "$(keychain --dir "$XDG_CONFIG_HOME/keychain" --eval --quiet --agents gpg,ssh)"
unclutter --timeout 3 --jitter 50 -b
202020 &

signal-desktop &
discord &
st -e "sh" "-c" "pgrep tmux && tmux a || tmux" &
